html {
    font-size: 0.75vmin;
}

body {
    background-image: linear-gradient(to bottom, #131313, #000);
    perspective: 45rem;
    transform-style: preserve-3d;
}

.wrapper {
    -webkit-animation: camera-rotate 40s ease-in-out forwards infinite;
    animation: camera-rotate 40s ease-in-out forwards infinite;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

main {
    --s: 100%;
    --l: 50%;
    display: flex;
    color: hsl(210deg, var(--s), var(--1));
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    animation-composition: add;
    /* for hue rotate(laggy thou) */
    -webkit-animation: camera-pam 30s linear forwards infinite;
    animation: camera-pan 30s linear forwards infinite;
    translate: 0rem 1rem 10rem;
    transform-style: preserve-3d;
}
main.digits .group {
    display: flex;
    gap:  2rem;
}
